@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  color: black;
  font-family: "MS Mincho", "Hiragino Mincho ProN", "Meiryo", serif;
  background-color: #fffbed;
}

main {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
}

#slideshow {
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.openbtn5 {
  display: none;
}

#header {
  height: 100vh;
  color: white;
  background-image: url(/img/kenji.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
@media screen and (max-width: 768px) {
  #header {
    background-position: right center;
  }
}
#header .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
#header .header-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}
#header .header-inner__logo {
  width: 100px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #header .header-inner__logo {
    display: none;
  }
}
#header .header-inner__nav {
  display: flex;
}
@media screen and (max-width: 768px) {
  #header .header-inner {
    position: relative;
  }
}
#header .header-inner p {
  margin-right: 50px;
}
#header .header-inner .header__nav {
  display: none;
}
@media screen and (max-width: 768px) {
  #header .header-inner .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: -100px;
    width: 100%;
    height: 120vh;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.6352941176);
    transition: ease 0.4s;
    z-index: 99;
    display: block;
  }
  #header .header-inner .header__nav.active {
    transform: translateY(0);
  }
  #header .header-inner .header__nav .nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  #header .header-inner .header__nav .nav-items__item {
    margin-bottom: 5.2083333333vw;
  }
}
#header h1 {
  writing-mode: vertical-rl;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  #header h1 {
    font-size: 3.90625vw;
    letter-spacing: 3.90625vw;
  }
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 4.6875vw;
    margin-bottom: 13.0208333333vw;
  }
}
.title p::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: red;
  border-radius: 5px;
  display: block;
  bottom: -30px;
  margin: 10px auto 0;
}
@media screen and (max-width: 768px) {
  .title p::after {
    height: 0.6510416667vw;
    width: 6.5104166667vw;
    bottom: -3.90625vw;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  border-radius: 0px;
  width: 300px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  margin: 30px auto;
}
button::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  top: -2px;
  left: -2px;
}
button::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  top: 2px;
  left: 2px;
}
button:hover::before {
  top: 0;
  left: 0;
}
button:hover::after {
  top: 0;
  left: 0;
}

#about {
  margin-top: 100px;
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  #about {
    margin-top: 13.0208333333vw;
    margin-bottom: 26.0416666667vw;
  }
}
#about .content {
  display: flex;
}
@media screen and (max-width: 768px) {
  #about .content {
    display: block;
  }
}
#about .content__img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  #about .content__img {
    width: 100%;
    margin-bottom: 6.5104166667vw;
  }
}
#about .content__img img {
  height: 250px;
  -o-object-position: center 20%;
     object-position: center 20%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #about .content__img img {
    height: 32.5520833333vw;
  }
}
#about .content__text {
  width: 50%;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  #about .content__text {
    width: 100%;
    margin: 0;
    padding: 2.6041666667vw;
  }
}
#about .content__text h1 {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #about .content__text h1 {
    text-align: center;
    font-size: 4.1666666667vw;
  }
}
#about .content__text__p {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #about .content__text__p {
    margin-top: 5.2083333333vw;
    font-size: 3.3854166667vw;
  }
}
#about .content__text__p a {
  text-decoration: underline;
}
#about .content__text__p p {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #about .content__text__p p {
    margin-bottom: 6.5104166667vw;
  }
}

#philosophy {
  margin-top: 100px;
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  #philosophy {
    margin-top: 13.0208333333vw;
    margin-bottom: 26.0416666667vw;
  }
}
#philosophy .content {
  text-align: center;
}
#philosophy .content p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 2.5;
}
@media screen and (max-width: 768px) {
  #philosophy .content p {
    width: 90%;
    letter-spacing: 0.2604166667vw;
    font-size: 2.6041666667vw;
  }
}

#facility {
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  #facility {
    margin-bottom: 26.0416666667vw;
  }
}
#facility .content__grid {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #facility .content__grid {
    display: block;
  }
  #facility .content__grid h1 {
    font-size: 3.6458333333vw;
    margin-bottom: 2.6041666667vw;
  }
}
#facility .content__grid__oogawara {
  width: 50%;
}
#facility .content__grid__oogawara iframe {
  width: 90%;
}
@media screen and (max-width: 768px) {
  #facility .content__grid__oogawara {
    width: 100%;
    margin-bottom: 13.0208333333vw;
  }
}
#facility .content__grid__kokura {
  width: 50%;
}
#facility .content__grid__kokura iframe {
  width: 90%;
}
@media screen and (max-width: 768px) {
  #facility .content__grid__kokura {
    width: 100%;
  }
}
#facility h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#new img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
@media screen and (max-width: 768px) {
  #new img {
    height: 39.0625vw;
  }
}
#new .new_pk {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #new .new_pk {
    margin-top: 6.5104166667vw;
    margin-bottom: 13.0208333333vw;
    display: block;
    text-align: left;
  }
}
#new .new_pk h1 {
  margin-bottom: 20px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #new .new_pk h1 {
    margin-bottom: 2.6041666667vw;
    font-size: 3.6458333333vw;
  }
}
#new .new_pk__left {
  width: 50%;
  border-right: #333 1px solid;
  padding-right: 100px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #new .new_pk__left {
    margin: auto;
    margin-bottom: 3.90625vw;
    width: 90%;
    padding-right: 0;
    padding-bottom: 3.90625vw;
    border-bottom: #333 1px solid;
    border-right: none;
    font-size: 3.125vw;
  }
}
#new .new_pk__right {
  width: 50%;
  padding-left: 100px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #new .new_pk__right {
    font-size: 3.125vw;
    margin: auto;
    width: 90%;
    padding-left: 0;
  }
}

#footer {
  background-color: black;
  color: white;
  padding: 100px 0 10px 50px;
}
@media screen and (max-width: 768px) {
  #footer {
    padding-top: 13.0208333333vw;
    padding-bottom: 13.0208333333vw;
    padding-left: 5.2083333333vw;
  }
}
#footer .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 20px 100px 20px;
}
#footer .footer-inner__logo {
  width: 100px;
}
#footer p {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #footer p {
    font-size: 3.125vw;
    margin-bottom: 3.90625vw;
  }
}
#footer .copy {
  text-align: center;
  font-size: 10px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  #header .header-inner p {
    display: none;
  }
  .openbtn5 {
    display: block;
    position: relative; /*ボタン内側の基点となるためrelativeを指定*/
    background: #666;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    top: 20px;
    right: -20px;
    z-index: 999;
  }
  /*ボタン内側*/
  .openbtn5 span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
  }
  .openbtn5 span:nth-of-type(1),
  .openbtn5 span:nth-of-type(3) {
    height: 2px;
    background: #fff;
    width: 62%;
    left: 10px;
  }
  .openbtn5 span:nth-of-type(1) {
    top: 13px;
  }
  .openbtn5 span:nth-of-type(2) {
    top: 19px;
    left: 11px;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #fff;
  }
  .openbtn5 span:nth-of-type(3) {
    top: 36px;
  }
  /*activeクラスが付与されると線が回転して×になり、Menu表記をしている2つ目の要素が透過して消える*/
  .openbtn5.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn5.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn5.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */
